<p id="notice"><%= notice %></p>

<p>
  <strong>Wants to convert assets to money:</strong>
  <%= @client.wants_to_convert_assets_to_money %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
